<ul class="redes_sociales">
  <li>
    <a class="facebook customer share" href="https://www.facebook.com/sharer.php?u=http://colombiaenrusia.antena2.com.co/" title="Facebook share" target="_blank">
    <i style="color: #3b5998;" class="fa fa-facebook-official fa-2" aria-hidden="true"></i></a>
  </li>
  <li>
    <a class="twitter customer share" href="https://twitter.com/share?url=http://colombiaenrusia.antena2.com.co/" title="Twitter share" target="_blank">
    <i style="color:#00aced;" class="fa fa-twitter-square fa-2" aria-hidden="true"></i></a>
  </li>
  <li>
    <a class="google_plus customer share" href="https://plus.google.com/share?url=http://colombiaenrusia.antena2.com.co/" title="Google Plus Share" target="_blank">
    <i style="color: #df4b37;" class="fa fa-google-plus fa-2" aria-hidden="true"></i>
      </a>
  </li>
  <!-- Wsapp -->
  <li class="mobile">
    <a href="whatsapp://send" data-text="Vista del papa en colombia" data-href="http://colombiaenrusia.antena2.com.co/" class="wa_btn wa_btn_m">
    <i style="color: #33ba47;" class="fa fa-whatsapp fa-2" aria-hidden="true"></i>
    </a>
  </li>
  <!-- /Wsapp -->
  <li>
    <a class="linkedin customer share" href="https://www.linkedin.com/shareArticle?mini=true&url=http://colombiaenrusia.antena2.com.co/" title="linkedin Share" target="_blank">
    <i style="color: #0d77b7;" class="fa fa-linkedin-square fa-2" aria-hidden="true"></i>
    </a>
  </li>
</ul>
