<h1>Pagina previa y durante al partido</h1>
<div *ngIf="marcador">
  <iframe src="http://datafactory.rcn.com.co/html/v3/model.html?channel=deportes.futbol.eliminatorias.2381887&lang=es_LA&model=gamecast_v6&hidePagesMenu=true" width="100%" height="1150" scrolling="auto" style="width: 1px; min-width: 100%; *width: 100%;" class=""></iframe>
</div>

<div>
  <h1>Señal de radio</h1>

  <iframe src="http://datafactory.rcn.com.co/html/v3/page.html?channel=deportes.futbol.eliminatorias&lang=es_LA&page=posiciones" width="100%" height="700" scrolling="auto" style="width: 1px; min-width: 100%; *width: 100%;" class=""></iframe>
</div>
