<div class="main-container">
    <h4>Formularios <small>DATA</small></h4>


    <form [formGroup]="forma">

        <div>
            <h2>Escoja el estado en que quiere que presente la pagina</h2>
            <label>
                Esta activando
                <input type="text" disabled formControlName="estado" >
            </label>
        </div>
        <h3>Cambiado por <strong>{{ radioGpEstados }}</strong> </h3>

        <div formArrayName="listaEstados">
            <div class="switch" *ngFor="let data of forma.controls.listaEstados.value; let i=index" >
                <h6>{{data}}</h6>
                <input class="switch-input" type="radio"
                [id]="data"
                name="i"
                [formControlName]="i"
                [value]="data"
                (change)="cambioCar(data)">
                <label class="switch-paddle" [for]="data">
                    <span class="show-for-sr">Bulbasaur</span>
                </label>
            </div>
        </div>

    <div formGroupName="video">
        <h4>Seleccione el tipo de video a publicar</h4>

        <div formGroupName="youtube">
            <label>
                Activar YouTube

                <div class="switch">
                    <input class="switch-input" id="radioYuo" formControlName="activo" type="radio" [checked]="forma.controls.video.value.youtube.activo" name="testGroup">
                    <label class="switch-paddle" for="radioYuo">
                        <span class="show-for-sr">Bulbasaur</span>
                    </label>
                </div>
            </label>
            <div  >
                <label>
                    Codigo Youtube
                    <input type="text" formControlName="codigo">
                </label>
            </div>
        </div>

        <div formGroupName="livestream">
            <label>
                Activar LiveStream
                    <div class="switch">
                        <input class="switch-input" id="radioLive" type="radio" formControlName="activo" [checked]="forma.controls.video.value.livestream.activo"  name="testGroup">
                        <label class="switch-paddle" for="radioLive">

                        <span class="show-for-sr">Bulbasaur</span>
                        </label>
                    </div>
                </label>
                <div  >
                    <label>
                        ID Codigo LiveStream
                        <input type="text" formControlName='id' class="form-control" >
                    </label>
                    <label>
                        SRC Codigo LiveStream
                        <input type="text" formControlName="src" class="form-control">
                    </label>
                </div>
        </div>
    </div>


    <div>
        <label>
            <h6>Ver modulo Video</h6>
            <div class="switch">
                <input class="switch-input" id="exampleSwitch" type="checkbox" [checked]="config.actvModVideo" name="exampleSwitch">
                <label class="switch-paddle" for="exampleSwitch">
                  <span class="show-for-sr"></span>
                </label>
              </div>
        </label>
    </div>
    <div>
        <label>
            <h6>Ver modulo Detalle</h6>
            <div class="switch">
              <input class="switch-input" id="actvModDetalle" type="checkbox" [checked]="config.actvModDetalle" name="actvModDetalle">
                <label class="switch-paddle" for="actvModDetalle">
                  <span class="show-for-sr">Bulbasaur</span>
                </label>
            </div>
        </label>
    </div>
    <div>
        <label>
            <h6>Ver modulo Noticias</h6>
            <div class="switch">
              <input class="switch-input" id="actvModNoticas" type="checkbox" [checked]="config.actvModNoticas" name="actvModNoticas">
                <label class="switch-paddle" for="actvModNoticas">
                  <span class="show-for-sr">Bulbasaur</span>
                </label>
            </div>
        </label>
    </div>
    <div>
        <label>
            <h6>Ver modulo Detalle2</h6>
            <div class="switch">
              <input class="switch-input" id="actvModDetalle2" type="checkbox" [checked]="config.actvModDetalle2" name="actvModDetalle2">
                <label class="switch-paddle" for="actvModDetalle2">
                  <span class="show-for-sr">Bulbasaur</span>
                </label>
            </div>
        </label>
    </div>
    <div>
        <label>
            <h6>Ver modulo Galeria</h6>
            <div class="switch">
              <input class="switch-input" id="actvModGaleria" type="checkbox" [checked]="config.actvModGaleria" name="actvModGaleria">
                <label class="switch-paddle" for="actvModGaleria">
                  <span class="show-for-sr">Bulbasaur</span>
                </label>
            </div>
        </label>
    </div>

    </form>
</div>
